@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form onsubmit="return alertaSuscripcion()" asp-controller="Suscripcion" asp-action="Suscribirse"  method="post">
    <label for="Email">Suscribirse</label>
    <input type="email" id="Email" name="Email" value="" />
    <input type="submit" name="Enviar" value="Suscribirse" />
</form>

<script src="~/js/site.js"></script>

