@{ ViewData["Title"] = "Home Page"; }

<div class="slider">
    <ul>
        <li><img class="sliderPic" src="~/imagenes/slide1.jpg"></li>
        <li><img class="sliderPic" src="~/imagenes/slide2.jpg"></li>
        <li><img class="sliderPic" src="~/imagenes/slide3.jpg"></li>
        <li><img class="sliderPic" src="~/imagenes/slide4.jpg"></li>
    </ul>
</div>



    



