@model IEnumerable<BookStoreProject.Models.Comentario>

@{
    ViewData["Title"] = "Index";
}

<h1>Comentarios</h1>

<p>
    @if (User.IsInRole(nameof(Rol.Administrador)))
    {
        <a asp-action="Create">Crear nuevo comentario</a>
    }

</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    "@Html.DisplayFor(modelItem => item.Comment)"
                </td>
                <td>
                    @if (User.IsInRole(nameof(Rol.Administrador)))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Ver detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.Id"> Eliminar</a>
                    }

                </td>
            </tr>
        }

    </tbody>
</table>

<a asp-controller="Libro" asp-action="Index">Volver a la lista de libros</a>
