@model BookStoreProject.Models.Suscripcion

@{
    ViewData["Title"] = "Suscribirse";
}

<div class="btnVolver">
    <a class="btnAbm" asp-action="Index">Volver </a>
</div>

<h2 id="tituloSuscripcion">Suscribirse</h2>

<div class="row">
    <div class="create">
        <form asp-action="Suscribirse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Suscribirse" class="btnCreate" />
            </div>
        </form>
    </div>
</div>



