@{
    ViewData["Title"] = "SuscripcionExitosa";
}

<div class="btnVolver">
    <a class="btnAbm" asp-action="Index">Volver </a>
</div>

<div id="msjSuscripcionExitosa">
    <p>¡Enhorabuena!</p>
    <p>Gracias por suscribirse a nuestra libreria virtual</p>
    <p>A partir de ahora recibirá semanalmente las últimas novedades</p>
</div>
