@{
    ViewData["Title"] = "CompraExitosa";
}

<div class="btnVolver">
    <a class="btnAbm" asp-controller="Home" asp-action="Index">Volver </a>
</div>

<div id="msjCompra">
    <p class="enhorabuena">¡Enhorabuena!</p>
    <p>Su compra fue procesada con éxito</p>
</div>


@{
    var cargarImagen = "http://localhost:52620/imagenes/" + ViewBag.LibroId + ".jpg";

}
<img id="imgCompra" class="libro" src=@cargarImagen alt="Model.Titulo" />