<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStoreProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/prueba.css" rel="stylesheet" />
</head>
<body id="bodyLayout">
    <header>
        <nav id="navFunc" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BookStoreProject</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="func" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="func" asp-area="" asp-controller="Libro" asp-action="Index">Libros</a>
                            </li>
                            <li class="nav-item">
                                <a class="func" asp-area="" asp-controller="Sucursal" asp-action="Index">Sucursales</a>
                            </li>
                            <li class="nav-item">
                                <a class="func" asp-area="" asp-controller="Suscripcion" asp-action="Suscribirse">Suscribirse</a>
                            </li>

                            @if (User.Identity.IsAuthenticated && User.IsInRole(nameof(Rol.Administrador)))
                            {

                                <li class="nav-item">
                                    <a class="func" asp-area="" asp-controller="Suscripcion" asp-action="Index">Suscripciones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="func" asp-area="" asp-controller="Venta" asp-action="Index">Ventas</a>
                                </li>
                            }}
                    </ul>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div id="yaIngresado" class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item float-right">
                                <a class="nav-link text-success font-italic" asp-area="">@User.FindFirstValue(ClaimTypes.GivenName)</a>
                            </li>
                            <li class="nav-item float-right">
                                <form asp-controller="Usuario" asp-action="Salir" method="post">
                                    <button type="submit" class="btn btn-danger">Salir</button>
                                </form>
                            </li>
                        </ul>
                    </div> }
                else
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a id="ingresar" class="btn btn-primary" asp-area="" asp-controller="Usuario" asp-action="Ingresar">Ingresar</a>
                            </li>
                        </ul>
                    </div>}
            </div>
        </nav>
    </header>
    <div id="container1" class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="redes_conteiner">
                <ul class="redes">
                    <li><a href="https://www.instagram.com/" target="_blank"><img class="red" src="~/imagenes/instagramPic.jpg" alt="Instagram" /></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank"><img class="red" src="~/imagenes/facebookPic.jpg" alt="Facebook" /></a></li>
                    <li><a href="https://www.twitter.com/" target="_blank"><img class="red" src="~/imagenes/twitterPic.jpg" alt="Twitter" /></a></li>
                    <li><p> &copy; 2021 - Book Store Project - TODOS LOS DERECHOS RESERVADOS -</p></li>
                    <li><a href="https://www.visa.com.ar/tu-visa/encontra-tu-tarjeta/credito.html" target="_blank"><img class="red" src="~/imagenes/visa.jpg" alt="Tarjeta Visa" /></a> </li>
                    <li><a href="https://www.mastercard.com.ar/es-ar.html" target="_blank"><img class="red" src="~/imagenes/mastercard.jpg" alt="Tarjeta Mastercad" /></a></li>
                    <li><a href="https://www.cabal.coop/" target="_blank"><img class="red" src="~/imagenes/cabal.jpg" alt="Tarjeta Cabal" /></a></li>
                    <li><a href="https://www.nativanacion.com.ar/" target="_blank"><img class="red" src="~/imagenes/nativa.jpg" alt="Tarjeta Nativa" /></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
