@model BookStoreProject.Models.Usuario
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log in</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/prueba.css" />
</head>
<body id="bodyIngresar">
    <!--<div class="row">
        <div class="col-md-4">-->
    <form asp-action="Ingresar">
       
        <div>
            <div id="divTextDanger" class="text-danger">@ViewBag.ErrorEnLogin</div>
            <!--class="form-group">-->
            <label for="usuario" class="labelIngresar">Usuario</label>
            <input name="usuario" class="inputIngresar" />
        </div>
        <div>
            <!--class="form-group">-->
            <label for="pass" class="labelIngresar">Contraseña</label>
            <input name="pass" type="password" class="inputIngresar" />
        </div>
        <div>
            <!-- class="form-group">-->
            <input id="btnIngresar" type="submit" value="Ingresar" class="btn btn-primary" />
            <a class="btn btn-success" asp-action="Registrarse">Registrarse</a>
        </div>
    </form>
    <!--</div>
    </div>-->
</body>
</html>